/* RESET */
* { margin: 0; padding: 0; font-size: 100%; box-sizing: border-box; }
ul { list-style: none; }
a { text-decoration: none; color: black; opacity: 78%; }
body {
    display: flex;
    background-color: #d2c5d6;
    flex-flow: column wrap;
    align-items: center;
}


/* Settings */
section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    font-size: 3.4rem;
    align-items: center;
    background-color: rgb(99, 133, 235);
    width: 98%;
    height: 300px;
    border-radius: 9px;
    font-family: 'Encode Sans SC', sans-serif;
    padding: 20px;
    cursor: pointer;
}
section:hover {
    font-size: 4rem;
    transition: 240ms;
    width: 100%;
    height: 310px;
}

/* DiV */
div {
    text-align: center;
    h1 {
        margin-top: 150px;
        font-size: 2.5rem;
        font-family: 'PT Sans', sans-serif;
    }
    hr {
        width: 280px;
        border: none;
        background-color: black;
        padding: 2px;
        border-radius: 2px;
    }
    hr:hover {
        width: 350px;
        transition: 100ms;
    }
}

/* Classes */
.title {
    margin-top: 100px;
}
.looks {
    background-color: rgb(235, 99, 99);
}

@media(max-width: 1000px) {
    body {
        header {
            flex-direction: column;
            nav {
                flex-direction: column;
            }
            border-bottom: solid black 2px;
        }
        .tittle {
            margin-top: 150px;
        }
    }  
}