/* RESET */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  opacity: 78%;
}

body {
  background-color: #d2c5d6;
}

/* Settings */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  font-size: 3.4rem;
  align-items: center;
  width: 98%;
  height: 300px;
  border-radius: 9px;
  font-family: 'Encode Sans SC', sans-serif;
  padding: 20px;
  cursor: pointer;
}

section:hover {
  font-size: 3.6rem;
  transition: 240ms;
  width: 99%;
  height: 305px;
}

/* DiV */
div {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

div h1 {
  margin-top: 150px;
  font-size: 2.5rem;
  font-family: 'PT Sans', sans-serif;
}

div hr {
  width: 280px;
  border: none;
  background-color: black;
  padding: 2px;
  border-radius: 2px;
}

div hr:hover {
  width: 350px;
  transition: 100ms;
}

/* Classes */
.looks {
  background-color: #eb6363;
}

.orders {
  background-color: #d6d637;
}

.settings {
  background-color: #6385eb;
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
    border-bottom: solid black 2px;
  }
  header nav {
    flex-direction: column;
  }
  main {
    margin-top: 120px;
  }
}

@media (max-width: 628px) {
  header nav .items {
    margin-right: 385px;
  }
  main section .image {
    height: 50vh;
    flex-basis: 58%;
  }
  main section .info {
    height: 50vh;
    width: 100px;
  }
}
