/* RESET */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
  opacity: 78%;
}

a:hover {
  color: black;
}

body {
  background-color: #d2c5d6;
  width: 100%;
}

/* Main */
main {
  margin-top: 100px;
}

main section {
  background-color: #dfd4e2;
  padding: 25px;
  align-items: center;
  border-radius: 14px;
  display: flex;
  margin: 30px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
  font-family: 'Lexend', sans-serif;
}

main section form {
  background-color: #eee1f1;
  padding: 15px;
  border-radius: 5px;
}

main section .info {
  text-align: center;
}

main section .info h1 {
  margin-bottom: 50px;
}

main section .image {
  flex-basis: 37%;
  height: 60vh;
  border-radius: 12px;
}

/* Responsivity */
@media (max-width: 1124px) {
  header {
    border-bottom: solid black 1px;
  }
  main {
    margin-top: 200px;
  }
}

@media (max-width: 1000px) {
  header nav .items {
    margin-right: 370px;
  }
}

@media (max-width: 628px) {
  header nav .items {
    margin-right: 385px;
  }
  main {
    margin-top: 300px;
  }
  main section .image {
    height: 50vh;
    flex-basis: 58%;
  }
  main section .info {
    height: 50vh;
    width: 100px;
  }
}
