/* RESET */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
  opacity: 78%;
}

a:hover {
  color: black;
}

body {
  background-color: #d2c5d6;
  flex-direction: column;
}

/* Title */
section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 150px;
  font-family: 'PT Sans', sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.title hr {
  width: 200px;
  border: none;
  background-color: black;
  padding: 2px;
  border-radius: 2px;
}

.title hr:hover {
  transition: 100ms;
  width: 280px;
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
    border-bottom: solid black 2px;
  }
  header nav {
    flex-direction: column;
  }
  section {
    margin-top: 150px;
  }
}
