<%- include('../partials/header.ejs') %> <%# Aqui carrega o css da nav %> 
<link rel="stylesheet" href="/scss/css/categoryCreate.css"> <%# Aqui carrega o css da da pagina 'users' %>
<title>Nova Categoria</title>
<%- include('../partials/header-end.ejs') %> 


<%- include('../partials/nav.ejs') %> <%# Aqui carrega o html da nav %> 


<main>
    <section>
        <form action="/admin/categoria" method="POST">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" name="name" id="name" aria-describedby="name" placeholder="Coloque o Nome da Categoria" required>
            </div><br>
            <div class="form-group">
              <label for="img">Imagem</label>
              <input type="text" class="form-control" name="img" id="img" aria-describedby="img" placeholder="Foto da Categoria" required>
            </div><br>
            <button type="submit" class="btn btn-primary">Criar</button>
          </form>
    </section>
</main><br>


<%- include('../partials/scripts.ejs') %>