<%- include('../partials/header.ejs') %> <%# Aqui carrega o css da nav %> 
<link rel="stylesheet" href="/scss/css/categoryCreate.css"> <%# Aqui carrega o css da da pagina 'users' %>
<title>Nova Categoria</title>
<%- include('../partials/header-end.ejs') %> 


<%- include('../partials/nav.ejs') %> <%# Aqui carrega o html da nav %> 


<main>
    <section>
        <form action="/admin/categoria" method="POST" enctype="multipart/form-data">

          <div id="isLink"> </div>

            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" name="name" id="name" aria-describedby="name" placeholder="Coloque o Nome da Categoria" required>
            </div><br>
            <div class="images">
              <div id="link">
                  <input type="text" class="form-control" name="linkImg" id="linkImg" onclick="link()" placeholder="Link Da Imagem">
              </div>
              <div id="comp">
                  <input type="file" class="form-control" name="compImg" id="compImg" onclick="comp()" placeholder="Diretorio da imagem">
              </div>
          </div><br>
            <button type="submit" class="btn btn-primary">Criar</button>
          </form>
    </section>
</main><br>

<script src="/js/categoryCreate.js"></script>
<%- include('../partials/scripts.ejs') %>