<%- include('../partials/header.ejs') %>

<header>
    <img src="https://cdn.discordapp.com/attachments/857701858655076402/868929298113912892/1627239188408.png" alt="Sua Logo Aqui" width="160">
    
    <nav>
        <ul class="categories">
            <li><a href="#">Feminina</a></li>
            <li><a href="#">Masculino</a></li>
            <li><a href="#">Inverno</a></li>
            <li><a href="#">Verao</a></li>
        </ul>

        <ul>
            <li><a href="#"><i class="fas fa-location-arrow"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>            
    </nav>
</header>

<%- include('../partials/header.ejs') %>