<%- include('../partials/header.ejs') %>
<title>Area de Administraçao</title>
<%- include('../partials/header-end.ejs') %> 

<%- include('../partials/nav.ejs') %> 



<div class="tittle"><h1>Administraçao</h1><br><hr></div><br><br>

<section class="settings" id="settings">
    <i class="fas fa-users"></i>
    <h1>Usuarios</h1>
</section>
<br>
<section class="looks" id="looks">
    <i class="fas fa-tshirt"></i>
    <h1>Roupas</h1>
</section>
<br>


<script>
    const settings = document.getElementById('settings');
    const looks = document.getElementById('looks');

    settings.addEventListener('click', function(){
        window.location.href = "/admin/users";
    });
    looks.addEventListener('click', function(){
        window.location.href = "/admin/looks";
    });
</script>
<%- include('../partials/scripts.ejs') %>