<%- include('../partials/header.ejs') %>
<title>Area de Administraçao</title>
<%- include('../partials/header-end.ejs') %> 

<%- include('../partials/nav.ejs') %> 



<h1>Area de Usuarios</h1>



<%- include('../partials/scripts.ejs') %>